/* embed the fonts */

/* -- DISPLAY FONTS -- */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('AlegreyaSans-Black.woff2') format('woff2'),
      url('AlegreyaSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: bold;
}

/* -- SECONDARY FONTS -- */

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-ExtraBold.woff2') format('woff2'),
      url('Nunito-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-SemiBold.woff2') format('woff2'),
      url('Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-BoldItalic.woff2') format('woff2'),
      url('Nunito-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-SemiBold.woff2') format('woff2'),
      url('Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-ExtraBoldItalic.woff2') format('woff2'),
      url('Nunito-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Regular.woff2') format('woff2'),
      url('Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-SemiBoldItalic.woff2') format('woff2'),
      url('Nunito-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-LightItalic.woff2') format('woff2'),
      url('Nunito-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-ExtraLight.woff2') format('woff2'),
      url('Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Bold.woff2') format('woff2'),
      url('Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Bold.woff2') format('woff2'),
      url('Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-BlackItalic.woff2') format('woff2'),
      url('Nunito-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Italic.woff2') format('woff2'),
      url('Nunito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-ExtraLightItalic.woff2') format('woff2'),
      url('Nunito-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Light.woff2') format('woff2'),
      url('Nunito-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


/* base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: 'Nunito', sans-serif;
}

header {
  width: 100%;
  margin: 25px auto;
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
}

h1 {
  max-width: 265px;
  margin-left: 60px;

  font-family: 'Alegreya Sans black', sans-serif;
  font-size: 6em;
  line-height: 1em;
  font-weight: bold;
}

h2 {
  margin-left: 60px;
  font-family: 'Alegreya Sans black', sans-serif;
  font-size: 2em;
}

h3, .myName h4 {
  font-family: 'Alegreya Sans black', sans-serif;
}

nav {
  max-width: 150px;
  margin-top: 60px;
  margin-right: 60px;
  padding: 35px 30px;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

nav a {
  padding-top: 35px;
  padding-right: 30px;

  text-decoration: none;
  color: black;
}

nav a:first-child {
  padding-top: 0;
}

.box {
  border: 2px solid black;
  background-color: #FAF8F8;
}

.link {
  text-decoration: none;
  color: black;
}

.arrow-bottom {
  margin-top: 20px;
  transform: rotate(180deg);
}

.cross-bottom {
  float: right;
}

.myName {
  width: 100%;
  padding: 10px 0;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;
  text-decoration: none;
  color: black;
}

.myName:hover {
  background-color: #7493F9;
  color: white;
}

.myName h4 {
  margin: 0;
  font-size: 1.5em;
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 60px;
}

/* shadow pseudo element */
.has-shadow {
  position: relative;
}

.has-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: 10px;
  left: 10px;
  z-index: -1;

  border: 2px solid black;
}

.has-shadow:hover:after {
  background-color: #74F9E9;
}

.has-shadowNav:hover:after {
  background-color: #FF1414;
}

.has-shadowInfoOne:hover:after {
  background-color: #74F9E9;
}

.has-shadowInfoTwo:hover:after {
  background-color: #FF05BC;
}

.has-shadowInfoThree:hover:after {
  background-color: #F6FF0A;
}

.has-shadow-var:hover:after {
  background-color: #0AFFAA;
}

.has-shadow-varTwo:hover:after {
  background-color: #260AFF;
}

.has-shadow-varThree:hover:after {
background-color: #9300FF;
}


.has-shadowFork:hover:after {
  background-color: #1CF490;
}

.has-shadowFendi:hover:after {
  background-color: #faba4a;
}

.has-shadowUltra:hover:after {
  background-color: #F93C72;
}

.has-shadowFactix:hover:after {
  background-color: #829CF3;
}


/* HOMEPAGE */
.homeHeader {
  margin-top: 0;
  flex-direction: column;
}

.nameNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeNav {
  margin-left: 60px;
}

.info-wrapper {
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box {
  min-height: 200px;
  padding: 20px;
  margin: 0 20px;

  flex-grow: 1;

  position: relative;
}

.info-box p {
  margin: 0;
}

.info-box:before {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: 40px;

  background-color: black;
}

.arrow-down {
  margin-top: 60px;
}

main {
  width: 100%;
}

.selected-work {
  margin-top: 100px;
}

.SelectedWorks {
  margin-top: 100px;
}

.works-title {
  text-decoration: none;
  color: black;
  font-size: 3em;
}

.works {
  margin: 200px auto;

  display: flex;
}

.works img {
  width: 60%;
  margin-left: 60px;

  align-self: flex-start;
}

.project-name {
  margin-top: -100px;
  margin-left: -80px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 120px;

  align-self: flex-start;

  position: relative;
}

.project-name h3 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 1.5em;
  text-transform: uppercase;
}

.project-name p {
  margin: 0;
  margin-left: 10px;

  text-transform: uppercase;
}

.contact {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  align-self: flex-start;
  font-size: 5em;
}

.contact p {
  margin: 0;
}

.contact-info {
  margin-top: 120px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 20px;
}

.phone {
  margin-top: 10px;
  margin-left: -530px;
}

.email {
  margin-right: -160px;
}

.behance {
  margin-left: -400px;
}

.Linkedin {
  margin-right: -260px;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
}

.contact-info p {
  margin-top: 50px;
}


/* PROJECT ONE : THE FORK */
.theForkDisplay {
  width: 50%;
  margin-top: 250px;
  margin-left: -500px;

  align-self: flex-start;
}

.forkNav{
  margin-left: -260px;
}

.fork-title {
  margin-top: 120px;
  margin-left: 10px;
  padding-top: 35px;
  padding-right: 150px;
  padding-left: 35px;

  align-self: flex-start;
}

.fork-title h1 {
  margin: 0;
}

.fork-title .inside-box {
  margin: 0;
}

.intro {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.brief {
  width: 80%;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.brief h2, .challenge h2, .style-container h2 {
  margin: 0;
  font-size: 2em;
}

.challenge {
  width: 100%;
  margin-top: 150px;

  display: flex;
  align-items: flex-start;
}

.challenge .box {
  width: 40%;
  margin: 10px auto;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.challenge img {
  width: 30%;
  margin: 10px auto;
}

.style {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-description {
  margin-right: 60px;
  margin-left: 600px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.rectangles {
  margin-top: 100px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.rec {
  width: 50%;
  height: 150px;
}

.purple {
  display: flex;

  background-color: #773DD4;
  color: #1CF490;
  font-weight: 500;
}

.purple p {
  margin-left: 300px;
}

.green {
  background-color: #1CF490;
  color: #773DD4;
  font-weight: 500;
}

.green p {
  margin-top: 115px;
  margin-left: 10px;
}

.elements {
  width: 100%;
  height: 150px;
  margin-top: 250px;

  display: flex;
  align-items: center;

  background-image: url(images/TheFork/bg-icons.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  width: 30%;
  margin-top: -200px;
  margin-left: 250px;

  order: 1;
}

.brekky {
  width: 30%;
  margin-top: 220px;
}

.ux {
  margin-top: 200px;
}

.ux h2 {
  width: 150px;
  margin: 0;
  margin-left: 60px;

  text-align: right;
  border-top: 2px solid black;
}

.ux-pages {
  margin: 100px auto;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  align-items: flex-start;
}

.ux-pages img {
  width: 35%;
}

.description {
  margin-top: -250px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;

  align-self: center;
}

.description-two {
  margin-left: 60px;
}

.description-three {
  margin-left: 80px;
}

.details {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details h3 {
  margin: 0;
  margin-bottom: 40px;
}

.role, .with, .for, .on {
  margin: 25px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.role, .for {
  margin-left: 60px;
}

.with, .on {
  margin-left: 650px;
}

/* PROJECT TWO : FENDI */

.FendiHeader {
  align-items: center;
}

.FendiHeader img {
  width: 50%;
  margin-top: 250px;
  margin-left: -150px;
}

.title {
  margin-top: -200px;
  margin-left: 40px;
  padding-top: 25px;
  padding-right: 150px;
  padding-left: 25px;
}

.title h1 {
  margin: 0;
}

.thebrief {
  display: flex;
  justify-content: center;
}

.fendistyle {
  margin-top: 50px;
  width: 100%;
}

.style-intro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.style-intro .box {
  max-width: 500px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 150px;
  padding-left: 25px;
}

.style-intro h2 {
  margin: 0;
}

.quote {
  margin: 100px auto;
}

.grey {
  background-color: #343a41;
}

.grey p {
  margin-left: 360px;

  color: #faba4a;
  font-weight: 500;
}

.yellow {
  background-color: #faba4a;
}

.yellow p {
  margin-top: 115px;
  margin-left: 10px;

  color: #343a41;
  font-weight: 500;
}

.cards-and-icons {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #343a41;
  background-image: url(images/Fendi/icons.png), url(images/Fendi/colors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top, bottom;
}

.cards {
margin: 10px 150px;
}

.ipads {
  margin-top: 0px;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;

  background-color: #faba4a;
}

.homepage {
  margin-left: 100px;
}

.custom {
  margin-top: 100px;
  margin-left: 200px;
}

.fendi-details {
  margin-top: 10px;
}

/* PROJECT 3 - ULTRALIGHT */

.ultralight-display {
  width: 50%;
  margin-top: 250px;
  margin-left: -450px;

  align-self: center;
}

.ultra-title {
  margin-left: 60px;
  margin-top: -250px;
  padding-top: 25px;
  padding-right: 150px;
  padding-left: 25px;

  align-self: center;
}

.ultra-title h1 {
  margin: 0;
}

.ultra-nav {
  margin-left: -150px;
}

.brief {
  margin: 50px auto;
}

.pages {
  width: 100%;
  padding-top: 50px;

  display: flex;
  flex-direction: column;

  background-color: #F93C72;
}

.double-mag {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-pages, .second-pages {
  width: 40%;
}

.first-pages {
  margin-left: 60px;
}

.second-pages {
  margin-right: 60px;
}

.third-pages {
  margin-top: 50px;
  width: 100%;
}

.details {
  width: 50%;
  margin-bottom: 40px;
  margin-left: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;
}

.details h3 {
  margin: 0;
}

/* PROJECT 4 - FACTIX */

.Factixtitle {
  margin-top: -250px;
  margin-left: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;

  align-self: center;
}

.Factixtitle h1 {
  margin: 0;
}

.FactixDisplay {
  width: 50%;
  margin-top: 220px;
  margin-left: -350px;

  align-self: center;
}

.Factixnav {
  margin-left: -60px;
}

.Factixstyle, .browsers {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Factixdesign {
  margin-bottom: 25px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;

  align-self: flex-end;
}

.Factixdesign h2, .brands h2 {
  margin: 0;
}

.heron {
  width: 100%;
  margin-top: 25px;
}

.brands {
  margin-right: 60px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;

  align-self: flex-end;
}

.heron, .ten-deep, .a-cold-wall {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browser {
  width: 50%;
}

.logo {
  width: 30%;
  margin-right: 100px;
}

.ten-deep .logo {
  margin-left: 60px;
}

.factix-about {
  width: 100%;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-about, .on-about {
  width: 49%;
}

.factix-display {
  width: 100%;
}

.Factixdetails {
  margin-top: 30px;
}

.Factixfor {
  margin-left: 550px;
}

.Factixone {
  margin-left: 160px;
}

/* Contact page */

.contact-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}