/* import the fonts */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');

@import url('https://fonts.googleapis.com/css?family=Kanit:800');

/* -- SECONDARY FONTS -- */

@import url('https://fonts.googleapis.com/css?family=Nunito');


/* base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: 'Nunito', sans-serif;
  background-color: #2e2b38;
}

header {
  width: 100%;
  margin: 2em auto;
  margin-bottom: 100px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 60px;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 6em;
  line-height: 1em;
  font-weight: 900;
  z-index: 1;
}

h2 {
  margin-left: 2em;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2em;
  font-weight: 900;
}

h3, .myName h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
}

nav {
  width: 10em;
  margin-top: 4em;
  margin-right: 3em;
  /* margin-left: -20em; */
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

nav a {
  padding-top: 2em;
  padding-right: 2em;

  text-decoration: none;
  color: black;
}

nav a:first-child {
  padding-top: 0;
}

nav a:hover {
  font-style: oblique;
}

.box {
  border: 2px solid black;
  background-color: #FAF8F8;
}

.link {
  text-decoration: none;
  color: black;
}

.arrow-bottom {
  margin-top: 20px;
  transform: rotate(180deg);
}

.cross-bottom {
  float: right;
}

.myName {
  width: 100%;
  padding: 10px 0;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;
  text-decoration: none;
  color: black;
}

.myName:hover {
  background-color: #7493F9;
  color: white;
}

.myName h4 {
  margin: 0;
  font-size: 1.5em;
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 60px;
}

/* ********************* */
/* shadow pseudo element */
/* ********************* */

.has-shadow {
  position: relative;
}

.has-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: 10px;
  left: 10px;
  z-index: -1;

  border: 2px solid black;
  background-color: #FAF8F8;
}

.has-shadow:hover:after {
  background-color: #74F9E9;
}

.has-shadowNav:hover:after {
  background-color: #FF1414;
}

.has-shadowInfoOne:hover:after {
  background-color: #74F9E9;
}

.has-shadowInfoTwo:hover:after {
  background-color: #FF05BC;
}

.has-shadowInfoThree:hover:after {
  background-color: #F6FF0A;
}

.has-shadow-var:hover:after {
  background-color: #0AFFAA;
}

.has-shadow-varTwo:hover:after {
  background-color: #260AFF;
}

.has-shadow-varThree:hover:after {
background-color: #9300FF;
}


.has-shadowFork:hover:after {
  background-color: #1CF490;
}

.has-shadowFendi:hover:after {
  background-color: #1A2EC8;
}

.has-shadowUltra:hover:after {
  background-color: #F93C72;
}

.has-shadowFactix:hover:after {
  background-color: #829CF3;
}


/* HOMEPAGE */
.homeHeader {
  margin-top: 0;
  flex-direction: column;
}

#myName {
  margin-top: 30px;
  margin-bottom: -50px;
  font-size: 12em;
  /* color: rgb(160, 174, 255); */
  color: #E7534C;
}

.nameNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeNav {
  margin-left: 60px;
}

.info-wrapper {
  margin-top: 105px;
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box {
  min-height: 200px;
  padding: 20px;
  margin: 0 20px;

  flex-grow: 1;

  position: relative;
}

.info-box p {
  margin: 0;
}

.info-box:before {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: 40px;

  background-color: black;
}

.has-shadowInfoFour {
  display: none;
}

.arrow-down {
  margin-top: 60px;
}

main {
  width: 100%;
}

.selected-work {
  margin-top: 100px;
  margin-bottom: 150px;
}

.SelectedWorks {
  margin-top: 100px;
  margin-top: -3em;
  margin-bottom: 4em;
}

.works-title {
  text-decoration: none;
  color: #8AB7E8;
  font-size: 3em;

  z-index: 1;
}

.works {
  margin: 200px auto;

  display: flex;
}

.worksNav {
  align-self: flex-end;
  margin-top: 5em;
  margin-right: 3em;
}

.works img {
  width: 60%;
  margin-left: 60px;

  align-self: flex-start;
}

.TheFork {
  background-color: #773DD4;
}

.Fendi {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.linkFendi {
  margin-left: 150px;
}

.Fendi img {
  margin-left: -80px;
}

.project-name {
  margin-top: -100px;
  margin-left: -80px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 120px;

  align-self: flex-start;

  position: relative;
}

.TheFork .project-name {
  margin-top: -120px;
  margin-left: -50px;
}

.Ultralight .project-name {
  margin-top: -120px;
  margin-left: -50px;
}

.Ultralight {
  margin-bottom: 50px;
  background-color: rgb(138,183,232);
}

.moreWork a {
  float: right;
  margin: 0;
  margin-right: 20px;

  text-decoration: none;
  color: rgb(250,248,248);
}

.moreWork:hover {
  cursor: pointer;
}

.project-name h3 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 1.5em;
  text-transform: uppercase;
}

.project-name p {
  margin: 0;
  margin-left: 10px;

  text-transform: uppercase;
}

.contact {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  align-self: flex-start;
  font-size: 5em;
  color: rgb(138,183,232);
}

.contact p {
  margin: 0;
}

.contact-info {
  margin-top: 120px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 20px;
}

.phone {
  margin-top: 10px;
  margin-left: -530px;
}

.email {
  margin-right: -160px;
}

.behance {
  margin-left: -400px;
}

.Linkedin {
  margin-right: -260px;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
}

.contact-info p {
  margin-top: 50px;
}


/* PROJECT ONE : THE FORK */
.theForkDisplay {
  width: 40em;
  margin-top: 18em;
  margin-left: -18em;

  align-self: flex-start;
  flex-shrink: 1;
}

.forkNav{
  margin-left: -10em;
}

.fork-title {
  margin-top: 8em;
  margin-left: 4em;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 2em;

  align-self: flex-start;
}

.fork-title h1 {
  margin: 0;
}

.fork-title .inside-box {
  margin: 0;
}

.intro {
  margin-top: 6em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.brief {
  width: 80%;
  margin-bottom: 3em;
  padding-top: 2em;
  padding-right: 3em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.brief h2, .challenge h2, .style-container h2 {
  margin: 0;
  font-size: 2em;
}

.challenge {
  width: 100%;
  margin-top: 8em;

  display: flex;
  align-items: flex-start;
}

.challenge .box {
  width: 40%;
  margin: 1em auto;
  padding-top: 2em;
  padding-right: 3em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.challenge img {
  width: 15em;
  margin: 10px auto;
}

.style {
  margin-top: 10em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-description {
  margin-right: 5em;
  margin-left: 4em;
  padding-top: 2em;
  padding-right: 5em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.rectangles {
  margin-top: 6em;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.rec {
  width: 50%;
  height: 10em;
}

.purple {
  display: flex;

  background-color: #773DD4;
  color: #1CF490;
  font-weight: 500;
}

.purple p {
  margin-left: calc(100% - 100px);
}

.green {
  background-color: #1CF490;
  color: #773DD4;
  font-weight: 500;
}

.green p {
  margin-top: calc(10em - 30px);
  margin-left: calc(10% - 20px);
}

.elements {
  width: 100%;
  height: 9em;
  margin-top: 15em;

  display: flex;
  align-items: center;

  background-image: url(images/TheFork/bg-icons.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  width: 22em;
  margin-top: -15em;
  margin-left: 23em;

  order: 1;
}

.brekky {
  width: 22em;
  margin-top: 17em;
  margin-right: -22em;
}

.ux {
  margin-top: 24em;
}

.ux h2 {
  width: 150px;
  margin: 0;
  margin-left: 60px;

  text-align: right;
  border-top: 2px solid #1CF490;
  color: #1CF490;
}

.ux-pages {
  margin: 100px auto;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  align-items: flex-start;
}

.ux-pages img {
  width: 35%;
}

.description {
  margin-top: -250px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;

  align-self: center;
}

.description-two {
  margin-left: 60px;
}

.description-three {
  margin-left: 80px;
}

.details {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details h3 {
  margin: 0;
  margin-bottom: 40px;
}

.role, .with, .for, .on {
  margin: 25px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.role, .for {
  margin-left: 60px;
}

.with, .on {
  margin-left: 650px;
}

/* PROJECT TWO : FENDI */

.project-header {
  align-items: center;
} 

.FendiHeader img {
  width: 35em;
  margin-top: 18em;
  margin-left: -12em;
}

.title {
  margin-top: -16em;
  margin-left: 4em;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 2em;
}

.title h1 {
  margin: 0;
}

.FendiNav {
  margin-left: -10em;
}

.thebrief {
  display: flex;
  justify-content: center;
}

.fendistyle {
  margin-top: 3em;
  width: 100%;
}

.style-intro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.style-intro .box {
  width: 30em;
  margin-right: 5em;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 2em;
}

.style-intro h2 {
  margin: 0;
}

.quote {
  margin: 9em auto;
}

.grey {
  background-color: #343a41;
}

.grey p {
  margin-left: calc(100% - 100px);

  color: #faba4a;
  font-weight: 500;
}

.yellow {
  background-color: #faba4a;
}

.yellow p {
  margin-top: calc(9em - 20px);
  margin-left: calc(10% - 40px);

  color: #343a41;
  font-weight: 500;
}

.cards-and-icons {
  width: 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  margin-top: 5em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #343a41;
  background-image: url(images/Fendi/icons.png), url(images/Fendi/colors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top, bottom;
}

.cards {
  margin: 1em 10em;

}

.card1 {
  width: 20em;
  margin-left: 10em;
}

.card2 {
  width: 25em;
}

.ipads {
  margin-top: 0px;
  width: 100%;
  padding-top: 10em;
  padding-bottom: 10em;

  background-color: #faba4a;
}

.homepage {
  width: 40%;
  margin-left: 9em;
}

.custom {
  width: 70%;
  margin-top: 6em;
  margin-left: 16em;
}

.fendi-details {
  margin-top: 10px;
}

/* PROJECT 3 - ULTRALIGHT */

.ultralight-display {
  width: 38em;
  margin-top: 24em;
  margin-left: -22em;

  align-self: center;
  flex-grow: .2;
  flex-shrink: 1;
}

.ultra-title {
  margin-left: 4em;
  margin-top: -12em;
  padding-top: 2em;
  padding-right: 12em;
  padding-left: 25px;

  align-self: center;
}

.ultra-title h1 {
  width: 3em;
  margin: 0;
}

.ultra-nav {
  margin-left: -10em;
}

.brief {
  margin: 3em auto;
}

.pages {
  width: 100%;
  padding-top: 4em;

  display: flex;
  flex-direction: column;

  background-color: #F93C72;
}

.double-mag {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-pages, .second-pages {
  width: 60%;
}

.first-pages {
  margin-left: -40px;
}

.second-pages {
  margin-left: -210px;
}

.third-pages {
  margin-top: 50px;
  width: 100%;
}

.img-pink {
  width: 100%;
  background-image: url(images/Ultralight/6.jpg);
}

.img-red {
  width: 100%;
  background-image: url(images/Ultralight/4.jpg);
  background-size: contain;
}

.details {
  width: 50%;
  margin-bottom: 3em;
  margin-left: 8em;
  padding-top: 2em;
  padding-right: 20em;
  padding-left: 2em;
}

.details h3 {
  margin: 0;
}

/* PROJECT 4 - FACTIX */

.Factixtitle {
  margin-top: -12em;
  margin-left: 4em;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;

  align-self: center;
}

.Factixtitle h1 {
  margin: 0;
}

.FactixDisplay {
  width: 50%;
  margin-top: 18em;
  margin-left: -350px;

  align-self: center;
}

.Factixnav {
  margin-left: -60px;
}

.Factixstyle, .browsers {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Factixdesign {
  margin-bottom: 25px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;

  align-self: flex-end;
}

.Factixdesign h2, .brands h2 {
  margin: 0;
}

.heron {
  width: 100%;
  margin-top: 25px;
}

.brands {
  margin-right: 60px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;

  align-self: flex-end;
}

.heron, .a-cold-wall {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.ten-deep {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ten-deep .browser, .a-cold-wall .browser {
  width: 80%;
}

.a-cold-wall {
  margin-top: 50px;
}

.heron .browser {
  z-index: -1;
}

.heron .logo {
  z-index: 1;
}

.heron {
  margin-top: 50px;
}

.browser {
  width: 80%;
}

.factix-about {
  width: 100%;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-about, .on-about {
  width: 49%;
}

.factix-display {
  width: 100%;
}

.Factixdetails {
  margin-top: 30px;
}

.Factixfor {
  margin-left: 550px;
}

.Factixone {
  margin-left: 160px;
}

.Factixfor {
  margin-left: 250px;
}

/* Contact page */

.contact-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactTitle {
  color: #7493F9;
}


/************
MEDIA QUERIES
*************/
@media(max-width: 1020px) {
  .has-shadowFork.with, .has-shadowFork.on {
    margin-left: 400px;
  }
}


@media(max-width: 1155px) {

  /* HOMEPAGE */
  h1, #myName {
    font-size: 8em;
    max-width: 250px;
  }

  .TheFork .project-name, .Ultralight .project-name, .has-shadowFactix {
    margin-right: 6em;
  }

  .Fendi img {
    margin-right: 4em;
  }

  .Fendi .project-name {
    margin-right: 5px;
  }

  #contact h2 {
    margin-right: -25px;
  }

  #contact .phone {
    margin-left: 5px;
  }

  #contact .behance {
    margin-left: 10px;
  }

  .theForkDisplay, .Fendi-display, .ultralight-display, .FactixDisplay, .FendiHeader img {
    width: 50%;
  }

  .FendiHeader img {
    margin-top: 400px;
  }

  .FendiHeader .title {
    margin-top: -20px;
    padding-right: 8em;
  }

  .card1, .card2 {
    margin: 0;
    width: 10em;
  }

  .card1 {
    margin-left: 150px;
  }
  
  .card2 {
    margin-left: -110px;
  }

  .has-shadowFendi.with, .has-shadowFendi.on {
    margin-left: -50px;
  }

  .challenge {
    flex-direction: column-reverse;
  }

  .challenge .Fendichallenge {
    margin: 20px auto;
    width: 80%;
  }

  .style-intro .box {
    margin: 10px auto;
  }

  .custom, .homepage {
    margin-left: 60px;
  }

  .ultra-title {
    margin-top: -9em;
  }

  .ultra-title h1 {
    font-size: 3em;
  }

  .ultralight-display {
    margin-top: 16em;
  }

  .has-shadowFactix.Factixtitle {
    margin: 0;
    margin-left: 20px;
    padding-right: 80px;
  }

  .FactixDisplay {
    margin-left: -80px;
  }

  .has-shadowFactix.brief {
    width: 90%;
    margin: 10px;
  }

  .ten-deep .browser, .a-cold-wall .browser {
    width: 90%;
  }

  .quote {
    width: 80%;
  }
}

@media(max-width: 880px) {
  .contact-page .contact-info {
    margin: 2em auto;
  }

  .fork-title h1 {
    font-size: 5em;
  }

}

@media(max-width: 780px) {

  /* HOMEPAGE */

  h1, #myName {
    margin: 0;
    margin-top: 1em;
    margin-left: .5em;

    font-size: 4em;
    max-width: 250px;
  }

  nav, .homeNav {
    width: 110px;
    margin-left: 25px;
    padding: 1em;
  }

  nav a, .homeNav a {
    padding: .5em;
  }

  .info-box {
    width: 100px;
    margin: 10px;
    padding: 10px;
  }

  .selected-work {
    margin: 0;
  }

  .works-title {
    margin-left: -40px;

    font-size: 2em;
  }

  .project-name h3 {
    font-size: 1.5em;
  }

  #contact h2 {
    font-size: 4em;
  }

  .contact-info {
    padding: 10px;
  }

  .contact-info p {
    margin: 20px 5px 10px 20px;
  }

  .contact-info.email {
    margin-right: 40px;
  }

  .contact-info.Linkedin {
    margin-right: 50px;
  }

  .contact-page .contact-info {
    margin: 2em auto;
  }

  .ux-pages .description {
    padding: 15px;
  }

  .has-shadowFork.with, .has-shadowFork.on {
    margin-left: 20px;
  }

  .card {
    width: 250px;
    margin-top: -200px;
    margin-left: 300px;
  }

  .fork-title {
    margin-top: 150px;
    margin-left: 10px;
    padding: 20px;
  }

  .fork-title h1 {
    font-size: 4em;
  }

  .ultra-title {
    margin-left: 2em;
    padding: 10px;
    padding-right: 80px;
  }

  .TheFork, .Ultralight, .Factix, .Fendi {
    flex-direction: column-reverse;
    justify-content: flex-start;

  }

  .TheFork .project-name, .Ultralight .project-name, .has-shadowFactix.project-name, .Fendi .project-name {
    width: 80%;
    margin: 0;
    margin-top: -80px;
    padding: 10px;

    align-self: flex-start;
  }

  .moreWork a {
    margin-right: 100px;
  }

  .Fendi img {
    margin: 0 auto;
  }

  .Fendi {
    background-color: #faba4a;
  }

  .Factix {
    background-color: #2e2b38;
  }

  .has-shadowFactix.Factixtitle {
    padding-right: 50px;
  }

  .Factixnav {
    margin-left: -70px;
  }

  .Factixdesign {
    margin-left: 30px;
  }
}

@media(max-width: 550px) {
  .fork-title {
    margin-top: 250px;
  }

  .theForkDisplay {
    margin-top: 400px;;
    margin-right: -80px;
  }

  .fork-challenge {
    flex-direction: column-reverse;
  }

  .fork-challenge .description {
    margin: 0;
    margin-top: 30px;
    width: 80%;
  }

  .card {
    margin-left: 100px;
  }

  .ux .has-shadowFork {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
  }

  .details .box {
    margin: 20px auto;
  }

  .has-shadowInfoOne, .has-shadowInfoTwo, .has-shadowInfoThree {
    display: none;
  }

  .has-shadowInfoFour {
    display: block
  }

  .has-shadowInfoFour p {
    padding: 5px;
  }
}

@media(max-width: 425px) {
  body {
    font-size: .8em;
  }

  nav,  .info-wrapper {
    margin-right: 80px;
  }

  .has-shadowInfoOne{
    width: 100px;
  }

  .TheFork, .Ultralight {
    margin-right: 0;
  }

  .Fendi img {
    margin: 0 auto;
  }

  .Fendi .project-name {
    margin-bottom: -20px;
  } 

  .contact-info.email {
    margin-right: 20px;
  }

  .contact-page .contact-info {
    margin: 2em auto;
  }

  .SelectedWorksOnpage {
    margin-top: -120px;
    margin-left: 50px;
    max-width: 80px;

    font-size: 1.5em;
  }

  .fork-title {
    margin-top: 200px;
  }

  .theForkDisplay {
    margin-top: 320px;
    margin-left: -200px;
    width: 70%;
  }

  .details .box {
    margin-bottom: 30px;
  }

  #Fendi-footer {
    margin-top: 50px;
  }

  .FendiHeader .title {
    margin-top: 160px;
  }

  .project-header {
    height: 350px;
  }

  .ultra-title {
    margin-top: 170px;
  }

  .ultralight-display {
    margin-top: 410px;
    margin-left: -100px;
  }

  .has-shadowUltra.details {
    margin-left: 50px;
  }
}