/* embed the fonts */


/* alegreya-sans-regular - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alegreya-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
       url('../fonts/alegreya-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-v9-latin-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/alegreya-sans-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'),
       url('../fonts/alegreya-sans-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-v9-latin-italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-700 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/alegreya-sans-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'),
       url('../fonts/alegreya-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-v9-latin-700.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-800 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/alegreya-sans-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'),
       url('../fonts/alegreya-sans-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-v9-latin-800.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-900 - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/alegreya-sans-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'),
       url('../fonts/alegreya-sans-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-v9-latin-900.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-900italic - latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/alegreya-sans-v9-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Black Italic'), local('AlegreyaSans-BlackItalic'),
       url('../fonts/alegreya-sans-v9-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-v9-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-v9-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-v9-latin-900italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

@import url("https://use.typekit.net/xjr7bpn.css");

/* -- SECONDARY FONTS -- */

@import url('https://fonts.googleapis.com/css?family=Nunito');


/* base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: 'Nunito', sans-serif;
  background-color: #2e2b38;
}

header {
  width: 100%;
  margin: 2em auto;
  margin-bottom: 100px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 60px;

  font-family: 'Alegreya Sans Black', sans-serif;
  font-size: 6em;
  line-height: 1em;
  font-weight: 700;
  z-index: 1;
}

h2 {
  margin-left: 2em;
  font-family: 'Alegreya Sans Black', sans-serif;
  font-size: 2em;
}

h3, .myName h4 {
  font-family: 'Alegreya Sans Black', sans-serif;
}

nav {
  width: 10em;
  margin-top: 4em;
  margin-right: 3em;
  /* margin-left: -20em; */
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

nav a {
  padding-top: 2em;
  padding-right: 2em;

  text-decoration: none;
  color: black;
}

nav a:first-child {
  padding-top: 0;
}

nav a:hover {
  font-style: oblique;
}

.box {
  border: 2px solid black;
  background-color: #FAF8F8;
}

.link {
  text-decoration: none;
  color: black;
}

.arrow-bottom {
  margin-top: 20px;
  transform: rotate(180deg);
}

.cross-bottom {
  float: right;
}

.myName {
  width: 100%;
  padding: 10px 0;

  position: absolute;
  top: 0;
  left: 0;

  text-align: center;
  text-decoration: none;
  color: black;
}

.myName:hover {
  background-color: #7493F9;
  color: white;
}

.myName h4 {
  margin: 0;
  font-size: 1.5em;
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 60px;
}

/* ********************* */
/* shadow pseudo element */
/* ********************* */

.has-shadow {
  position: relative;
}

.has-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  top: 10px;
  left: 10px;
  z-index: -1;

  border: 2px solid black;
  background-color: rgb(250,248,248);
}

.has-shadow:hover:after {
  background-color: #74F9E9;
}

.has-shadowNav:hover:after {
  background-color: #FF1414;
}

.has-shadowInfoOne:hover:after {
  background-color: #74F9E9;
}

.has-shadowInfoTwo:hover:after {
  background-color: #FF05BC;
}

.has-shadowInfoThree:hover:after {
  background-color: #F6FF0A;
}

.has-shadow-var:hover:after {
  background-color: #0AFFAA;
}

.has-shadow-varTwo:hover:after {
  background-color: #260AFF;
}

.has-shadow-varThree:hover:after {
background-color: #9300FF;
}


.has-shadowFork:hover:after {
  background-color: #1CF490;
}

.has-shadowFendi:hover:after {
  background-color: #1A2EC8;
}

.has-shadowUltra:hover:after {
  background-color: #F93C72;
}

.has-shadowFactix:hover:after {
  background-color: #829CF3;
}


/* HOMEPAGE */
.homeHeader {
  margin-top: 0;
  flex-direction: column;
}

#myName {
  margin-top: 30px;
  margin-bottom: -50px;
  font-size: 12em;
  /* color: rgb(160, 174, 255); */
  color: rgb(231,83,76);
}

.nameNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeNav {
  margin-left: 60px;
}

.info-wrapper {
  margin-top: 105px;
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-box {
  min-height: 200px;
  padding: 20px;
  margin: 0 20px;

  flex-grow: 1;

  position: relative;
}

.info-box p {
  margin: 0;
}

.info-box:before {
  content: "";
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: 40px;

  background-color: black;
}

.arrow-down {
  margin-top: 60px;
}

main {
  width: 100%;
}

.selected-work {
  margin-top: 100px;
  margin-bottom: 150px;
}

.SelectedWorks {
  margin-top: 100px;
}

.works-title {
  text-decoration: none;
  color: rgb(138,183,232);
  font-size: 3em;
}

.works {
  margin: 200px auto;

  display: flex;
}

.works img {
  width: 60%;
  margin-left: 60px;

  align-self: flex-start;
}

.TheFork {
  background-color: #773DD4;
}

.Fendi {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.linkFendi {
  margin-left: 150px;
}

.Fendi img {
  margin-left: -80px;
}

.project-name {
  margin-top: -100px;
  margin-left: -80px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 120px;

  align-self: flex-start;

  position: relative;
}

.TheFork .project-name {
  margin-top: -120px;
  margin-left: -50px;
}

.Ultralight .project-name {
  margin-top: -120px;
  margin-left: -50px;
}

.Ultralight {
  margin-bottom: 50px;
  background-color: rgb(138,183,232);
}

.moreWork a {
  float: right;
  margin: 0;
  margin-right: 20px;

  text-decoration: none;
  color: rgb(250,248,248);
}

.moreWork:hover {
  cursor: pointer;
}

.project-name h3 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 1.5em;
  text-transform: uppercase;
}

.project-name p {
  margin: 0;
  margin-left: 10px;

  text-transform: uppercase;
}

.contact {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  align-self: flex-start;
  font-size: 5em;
  color: rgb(138,183,232);
}

.contact p {
  margin: 0;
}

.contact-info {
  margin-top: 120px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 20px;
}

.phone {
  margin-top: 10px;
  margin-left: -530px;
}

.email {
  margin-right: -160px;
}

.behance {
  margin-left: -400px;
}

.Linkedin {
  margin-right: -260px;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
}

.contact-info p {
  margin-top: 50px;
}


/* PROJECT ONE : THE FORK */
.theForkDisplay {
  width: 40em;
  margin-top: 18em;
  margin-left: -18em;

  align-self: flex-start;
  flex-shrink: 1;
}

.forkNav{
  margin-left: -10em;
}

.fork-title {
  margin-top: 8em;
  margin-left: 4em;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 2em;

  align-self: flex-start;
}

.fork-title h1 {
  margin: 0;
}

.fork-title .inside-box {
  margin: 0;
}

.intro {
  margin-top: 6em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.brief {
  width: 80%;
  margin-bottom: 3em;
  padding-top: 2em;
  padding-right: 3em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.brief h2, .challenge h2, .style-container h2 {
  margin: 0;
  font-size: 2em;
}

.challenge {
  width: 100%;
  margin-top: 8em;

  display: flex;
  align-items: flex-start;
}

.challenge .box {
  width: 40%;
  margin: 1em auto;
  padding-top: 2em;
  padding-right: 3em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.challenge img {
  width: 15em;
  margin: 10px auto;
}

.style {
  margin-top: 10em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.style-description {
  margin-right: 5em;
  margin-left: 40em;
  padding-top: 2em;
  padding-right: 5em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.rectangles {
  margin-top: 6em;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.rec {
  width: 50%;
  height: 10em;
}

.purple {
  display: flex;

  background-color: #773DD4;
  color: #1CF490;
  font-weight: 500;
}

.purple p {
  margin-left: calc(100% - 100px);
}

.green {
  background-color: #1CF490;
  color: #773DD4;
  font-weight: 500;
}

.green p {
  margin-top: calc(10em - 30px);
  margin-left: calc(10% - 20px);
}

.elements {
  width: 100%;
  height: 9em;
  margin-top: 15em;

  display: flex;
  align-items: center;

  background-image: url(images/TheFork/bg-icons.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  width: 22em;
  margin-top: -15em;
  margin-left: 22em;

  order: 1;
}

.brekky {
  width: 22em;
  margin-top: 17em;
  margin-right: -22em;
}

.ux {
  margin-top: 24em;
}

.ux h2 {
  width: 150px;
  margin: 0;
  margin-left: 60px;

  text-align: right;
  border-top: 2px solid #1CF490;
  color: #1CF490;
}

.ux-pages {
  margin: 100px auto;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  align-items: flex-start;
}

.ux-pages img {
  width: 35%;
}

.description {
  margin-top: -250px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;

  align-self: center;
}

.description-two {
  margin-left: 60px;
}

.description-three {
  margin-left: 80px;
}

.details {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details h3 {
  margin: 0;
  margin-bottom: 40px;
}

.role, .with, .for, .on {
  margin: 25px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.role, .for {
  margin-left: 60px;
}

.with, .on {
  margin-left: 650px;
}

/* PROJECT TWO : FENDI */

.project-header {
  align-items: center;
} 

.FendiHeader img {
  width: 35em;
  margin-top: 18em;
  margin-left: -12em;
}

.title {
  margin-top: -16em;
  margin-left: 4em;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 2em;
}

.title h1 {
  margin: 0;
}

.FendiNav {
  margin-left: -60px;
}

.thebrief {
  display: flex;
  justify-content: center;
}

.fendistyle {
  margin-top: 3em;
  width: 100%;
}

.style-intro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.style-intro .box {
  width: 30em;
  margin-right: 5em;
  padding-top: 2em;
  padding-right: 4em;
  padding-left: 2em;
}

.style-intro h2 {
  margin: 0;
}

.quote {
  margin: 9em auto;
}

.grey {
  background-color: #343a41;
}

.grey p {
  margin-left: calc(100% - 100px);

  color: #faba4a;
  font-weight: 500;
}

.yellow {
  background-color: #faba4a;
}

.yellow p {
  margin-top: calc(9em - 20px);
  margin-left: calc(10% - 40px);

  color: #343a41;
  font-weight: 500;
}

.cards-and-icons {
  width: 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  margin-top: 5em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #343a41;
  background-image: url(images/Fendi/icons.png), url(images/Fendi/colors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top, bottom;
}

.cards {
  margin: 1em 10em;

}

.card1 {
  width: 20em;
  margin-left: 10em;
}

.card2 {
  width: 25em;
}

.ipads {
  margin-top: 0px;
  width: 100%;
  padding-top: 10em;
  padding-bottom: 10em;

  background-color: #faba4a;
}

.homepage {
  width: 40%;
  margin-left: 9em;
}

.custom {
  width: 70%;
  margin-top: 6em;
  margin-left: 16em;
}

.fendi-details {
  margin-top: 10px;
}

/* PROJECT 3 - ULTRALIGHT */

.ultralight-display {
  width: 38em;
  margin-top: 24em;
  margin-left: -22em;

  align-self: center;
  flex-grow: .2;
  flex-shrink: 1;
}

.ultra-title {
  margin-left: 4em;
  margin-top: -12em;
  padding-top: 2em;
  padding-right: 12em;
  padding-left: 25px;

  align-self: center;
}

.ultra-title h1 {
  width: 3em;
  margin: 0;
}

.ultra-nav {
  margin-left: -10em;
}

.brief {
  margin: 3em auto;
}

.pages {
  width: 100%;
  padding-top: 4em;

  display: flex;
  flex-direction: column;

  background-color: #F93C72;
}

.double-mag {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first-pages, .second-pages {
  width: 40%;
}

.first-pages {
  margin-left: 60px;
}

.second-pages {
  margin-right: 60px;
}

.third-pages {
  margin-top: 50px;
  width: 100%;
}

.details {
  width: 50%;
  margin-bottom: 3em;
  margin-left: 8em;
  padding-top: 2em;
  padding-right: 20em;
  padding-left: 2em;
}

.details h3 {
  margin: 0;
}

/* PROJECT 4 - FACTIX */

.Factixtitle {
  margin-top: -250px;
  margin-left: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;

  align-self: center;
}

.Factixtitle h1 {
  margin: 0;
}

.FactixDisplay {
  width: 50%;
  margin-top: 220px;
  margin-left: -350px;

  align-self: center;
}

.Factixnav {
  margin-left: -60px;
}

.Factixstyle, .browsers {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Factixdesign {
  margin-bottom: 25px;
  margin-right: 60px;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 25px;

  align-self: flex-end;
}

.Factixdesign h2, .brands h2 {
  margin: 0;
}

.heron {
  width: 100%;
  margin-top: 25px;
}

.brands {
  margin-right: 60px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 25px;

  align-self: flex-end;
}

/*.heron, .ten-deep, .a-cold-wall {
  width: 100%;

  display: flex;
}*/

.browser {
  width: 80%;
}

/*.logo {
  width: 30%;
  margin-right: 100px;
}

.ten-deep .logo {
  margin-left: 60px;
}*/

.factix-about {
  width: 100%;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-about, .on-about {
  width: 49%;
}

.factix-display {
  width: 100%;
}

.Factixdetails {
  margin-top: 30px;
}

.Factixfor {
  margin-left: 550px;
}

.Factixone {
  margin-left: 160px;
}

/* Contact page */

.contact-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}